
a:link, a:visited {
    color:rgb(0, 126, 185) !important;
}
.c-b {
    clear:both;
}
.info-window-link, .sus-map-link {
    color:rgb(0, 126, 185);
    cursor:pointer;
}
.sus-map-link {
    font-size:12px;
}
.sus-map-action-img, .sus-map-url-img {
    vertical-align:middle;
    margin-right:2px;
}
.sus-map-url-img {
    margin-left:30px;
}

.sus-map-floating-border {
    height:1px;
    width:100%;
    background:#999;
    position:absolute;
    top:0px;
    z-index:-10;
}
#sus-map-logo {
    width:60px;
    height:60px;
    padding:10px;
    bottom:5px;
    left:0px;
    position:absolute;
    z-index:1000;
}
.screen-overlay {
    width:100%;
    height:100%;
    background:#FFF;
    position:fixed;
    top:0px;
    left:0px;
    z-index:10001;
    background:#FFF url(images/sidebar_leaf.jpg) -140px top no-repeat;
}
#screen-overlay-right {
    right:0px;
}
#sus-map-splash {
    position:absolute;
    top:120px;
    left:50%;
    margin-left:-200px;
}
    #sus-map-loader {
        position:absolute;
        top:488px;
        left:50%;
        margin-left:-16px;
        display:none;
    }
    #sus-map-load-box {
        width:196px;
        height:6px;
        position:absolute;
        border:1px solid #777;
        border-radius:3px;
        top:483px;
        left:50%;
        margin-left:-98px;
    }
        #sus-map-load-bar {
            height:100%;
            width:0px;
            background:#94A544;
            border-radius:2px;
            opacity:.6;
        }

#sus-map-logo-text {
    width:360px;
    height:50px;
    top:5px;
    right:0px;
    background:#FFF url(images/ess_logo_title.png) 13px -7px no-repeat;
    position:fixed;
    display:none;
}

#sus-map-filter-container {
    position:fixed;
    width:204px;
    min-height:100px;
    top:42%;
    margin-top:-175px;
    right:-220px;
    background:rgba(255,255,255,.8);
    box-shadow:2px 3px 10px rgba(0,0,0,.5);
    padding:5px 0 0 0;
/*    border-radius:4px;*/
}
    .filter-tax-bar {
        font-size:15px;
        color:#222;
        padding:6px 38px 6px 12px;
        position:fixed;
        top:90px;
        right:0px;
        background:#FFF;
        box-shadow:2px 3px 6px rgba(0,0,0,.4);
        display:none;
    }
    #filter-title {
        position:fixed;
        top:86px;
        padding:4px 10px 4px 10px;
        right:5px;
        background:#FFF;
        box-shadow:2px 3px 6px rgba(0,0,0,.4);
        display:none;
    }
    #filter-title:hover {
        background:#EEE;
    }
        .filter-tax-bar-x {
            position:absolute;
            top:4px;
            right:4px;
            padding:5px;
            background:#EEE;
            border:1px solid rgba(0,0,0,0);
            cursor:pointer;
        }
        .filter-tax-bar-x:hover {
            border-color:#777;
            background:#FFF;
        }
        
    .filter-search-wrapper {
        position:absolute;
        top:-40px;
        background:rgba(255,255,255,.8);
        box-shadow:2px 3px 10px rgba(0,0,0,.4);
    }
        .filter-search-box {
            height:22px;
            padding:3px 5px 1px 5px;
            width:180px;
            margin:2px 10px 2px 2px;
            display:block;
            border-radius:3px;
            border:1px solid rgb(168, 199, 144);
            box-shadow:inset 0 0 4px rgba(12, 189, 233, .7);
        }
        .filter-search-box:focus {
            box-shadow:inset 0 0 4px rgba(12, 189, 233, .7);
            outline:1px solid #F90;
        }
            .filter-search-result-box {
                width:224px;
                min-height:20px;
                position:absolute;
                box-shadow:inset 1px 1px 8px rgba(0,0,0,.4),
                    2px 3px 10px rgba(0,0,0,.4);
                border:3px solid rgb(226, 225, 225);
                top:32px;
                left:-31px;
                display:none;
                z-index:10;
                background:#FFF;
                overflow:hidden;
                border-radius:5px 0 5px 5px;
            }
                .filter-search-result {
                    position:relative;
                    padding:9px;
                    color:#444;
                    display:block;
                    border-bottom:1px solid #CCC;
                    cursor:pointer;
                }
                .filter-search-result:hover, .filter-search-result:focus {
                    color:#000;
                    outline:0px;
                    box-shadow:inset 0 0 14px rgba(12, 189, 233, .7);
                }
                    .filter-search-result-content {
                        width:167px;
                        margin-left:26px;
                        float:left;
                    }
                    .filter-search-result-img {
                        width:24px;
                        height:24px;
                        vertical-align:middle;
                        margin-right:3px;
                        margin-top:-12px;
                        top:50%;
                        left:5px;
                        position:absolute;
                    }
        
    .filter-text-container {
        width:100%;
        margin-top:5px;
    }
        .filter-text-span {
            font-size:15px;
            color:#222;
            float:left;
            margin-left:7px;
        }
    .filter-icon-container {
        width:100%;
        border-bottom:1px solid rgba(180,180,180,.5);
        margin-top:3px;
        height:35px;
        overflow:hidden;
        position:relative;
    }
        .filter-icon-box, .filter-tax-box {
            cursor:pointer;
            top:0px;
            height:30px;
            width:30px;
            position:absolute;
            overflow:hidden;
            display:none;
        }
            .filter-icon-expanded-name {
                margin:3px 0 0 5px;
                float:left;
                color:#555;
                display:none;
            }
            .filter-icon-img-fillet {
                overflow:hidden;
                width:24px;
                height:24px;
            }
                .filter-icon-img {
                    width:30px;
                    height:30px;
                    margin-left:-3px;
                    margin-top:-1px;
                }
                .filter-icon-img:hover {
                    opacity:1 !important;
                    filter:grayscale(0%) !important;
                    -moz-filter:grayscale(0%) !important;
                    -webkit-filter:grayscale(0%) !important;
                    -ms-filter:grayscale(0%) !important;
                }
        .filter-tax-box {
            display:block;
            border-radius:5px;
            border:1px solid #BBB;
            padding-left:6px;
        }
        .filter-tax-box:hover {
            background:#EFEFEF;
            border-color:#666;
        }
        #filter-tax-preset-container {
            width:204px;
            height:63px;
            position:absolute;
            bottom:-71px;
            background:rgba(255,255,255,.8);
            box-shadow:2px 3px 10px rgba(0,0,0,.4);
        }
            
        #filter-hover-title {
            padding:4px 8px 4px 8px;
            background:#FFF;
            position:fixed;
            white-space:nowrap;
            margin-top:-38px;
            margin-left:22px;
            display:none;
            z-index:100;
            box-shadow:0 1px 4px rgba(0,0,0,.7);
            border-radius:2px;
        }

#sus-map-marker-title {
    position:fixed;
    background:#FFF;
    padding:5px 10px 5px 10px;
    display:none;
    font-size:12px;
    white-space:nowrap;
    box-shadow:0 2px 6px #000;
    border-radius:2px;
}

#sus-map-bottom-row {
    width:100%;
    height:47px;
    margin:0px;
    padding-left:5px;
    position:fixed;
    top:0px;
    background:#FFF url(images/horiz_leaf.jpg) top left no-repeat;
    /*box-shadow:0 -2px 5px rgba(0,0,0,.5);*/
}



/* --- ---  Map Element Styles  --- --- */
        
#sus-map-info-window {
    width:500px;
    background:#FEFEFE;
    padding:10px;
    padding-bottom:5px;
    border-radius:7px;
    position:absolute;
    border:8px solid #E7E5E5;
    display:none;
    cursor:auto;
    box-shadow:0 3px 16px rgba(0,0,0,.6),
        0 2px 10px rgba(0,0,0,.5);
    z-index:-20;
    overflow:visible !important;
}
    .info-window-title {
        width:100%;
        height:auto;
        color:rgb(111,111,111);
        font-weight:bold;
        font-size:20px;
        padding:2px 0 0 0;
/*        overflow:hidden;*/
    }
        .info-window-node-num {
            font-size:12px;
            margin-top:-1px;
            margin-right:5px;
            display:block;
            background:rgb(215, 255, 234);
            float:left;
            padding:0 3px 0 3px;
            border-radius:3px;
            border:1px solid #999;
        }
    .info-window-subtitle {
        width:100%;
        height:20px;
        color:#666;
        margin-top:-6px;
        font-weight:normal;
        font-size:11px;
        overflow:hidden;
    }
    .info-window-tax-header {
        margin-top:5px;
        color:rgb(0, 126, 185);
        padding:2px 0 0 0;
        position:relative;
        z-index:10;
    }
        .tax-header-drop-link-box {
            float:left;
        }
            .tax-header-title {
                cursor:pointer;
            }
        .tax-header-url-box {
            float:left;
        }
            .tax-header-url {
                cursor:pointer;
                color:rgb(0, 126, 185);
                position:relative;
            }
            .tax-header-url:hover, .tax-header-title:hover {
                color:rgb(0, 64, 94) !important;
                text-decoration:none;
            }
    .info-window-tax {
        width:auto;
        height:auto;
        margin-top:2px;
        font-size:11px;
        padding:5px;
        padding-bottom:25px;
        font-weight:bold;
        overflow:hidden;
        background:#FFF;
        float:left;
    }
        .info-window-link:hover {
            text-decoration:underline;
        }
        .info-window-link-taxonomy {
            margin-left:7px;
            font-size:11px;
            font-weight:normal;
            display:block;
            text-indent:-18px;
            padding-left:18px;
        }
    .info-window-lcol {
        width:300px;
        margin-top:10px;
        position:relative;
        float:left;
        clear:both;
    }
        .info-window-content {
            width:290px;
            min-height:120px;
            padding-bottom:10px;
            position:relative;
            overflow:hidden;
        }
            .info-window-content-header {
                border-bottom:1px solid #CCC;
                margin-bottom:3px;
            }
    .info-window-rcol {
        width:190px;
        min-height:50px;
        margin-left:10px;
        margin-top:10px;
        float:left;
        padding-bottom:10px;
    }
        .info-window-image {
            width:100%;
            min-height:20px;
            float:left;
        }
    .info-window-icon-frame {
        position:absolute;
        top:45px;
        left:-60px;
        z-index:-10;
    }
    .info-window-image-building {
        position:absolute;
        top:61px;
        left:-48px;
        height:38px;
        border-radius:40px 0 0 40px;
        z-index:-5;
    }
        .info-window-image-building-occlude {
            position:absolute;
            top:61px;
            left:0px;
            height:38px;
            width:40px;
            background:#FFF;
            z-index:-1;
        }
    .info-window-loader {
        position:absolute;
        top:72px;
        left:50%;
        margin-left:-16px;
    }
    .info-window-close {
        position:absolute;
        top:-18px;
        right:-18px;
        cursor:pointer;
    }
    .sus-map-building-childNode, .sus-map-node-building-link {
        cursor:pointer;
        border:1px solid #FFF;
        border-radius:3px;
        padding:2px 2px 4px 2px;
        text-indent:-36px;
        padding-left:36px;
        color:#555 !important;
    }
    .sus-map-building-childNode:hover, .sus-map-node-building-link:hover {
        border-color:#CCC;
        color:#000 !important;
        box-shadow:inset 0 0 4px rgba(12, 189, 233, .7);
    }
        .sus-map-building-child-img, .sus-map-node-builing-img {
            width:28px;
            height:28px;
            vertical-align:-50%;
            margin:2px 5px 0 3px;
        }








.sus-map-darr {
    width:1px;
    height:2px;
    position:absolute;
    border:9px solid #999;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom:0px;
    bottom:-11px;
    right:14px;
}  
    .sus-map-darr-fill {
        width:0px;
        height:2px;
        position:absolute;
        border:8px solid #FFF;
        border-left-color:transparent;
        border-right-color:transparent;
        border-bottom:0px;
        top:-9px;
        left:-7px;
    }  
.sus-map-uarr {
    width:1px;
    height:2px;
    position:absolute;
    border:9px solid rgba(0,0,0,0);
    border-left-color:transparent;
    border-right-color:transparent;
    border-top:0px;
    top:-11px;
    left:8px;
}  
    .sus-map-uarr-fill {
        width:0px;
        height:2px;
        position:absolute;
        border:8px solid #FFF;
        border-left-color:transparent;
        border-right-color:transparent;
        border-top:0px;
        bottom:-10px;
        right:-7px;
    }  
    #sus-map-top-sel {
        top:0px;
        left:10px;
    }
.sus-map-larr {
    width:2px;
    height:1px;
    position:absolute;
    border:8px solid rgba(0,0,0,.3);
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left:0px;
    top:9px;
    left:-10px;
}  
    .sus-map-larr-fill {
        width:2px;
        height:1px;
        position:absolute;
        border:7px solid #FFF;
        border-top-color:transparent;
        border-bottom-color:transparent;
        border-left:0px;
        top:-9px;
        left:1px;
    }  

.sus-map-rarr {
    width:2px;
    height:0px;
    position:absolute;
    border:7px solid transparent;
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-right-color:transparent !important;
    border-right:0px;
    border-left-width:10px;
    top:7px;
    left:10px;
    z-index:-5;
    display:none;
}